.show-on-big-screen {
    display: none;
}
body.big-screen .show-on-big-screen {
    display: unset;
}
.show-on-desktop {
    display: none;
}
body:not(.big-screen) .show-on-desktop {
    display: unset;
}

.p-menu-item-content:has(.my-nav) {
    display: flex;
    flex-direction: row;
}
.my-nav {
    flex: 1;
}
